<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,113}</string>
                <key>spriteSourceSize</key>
                <string>{309,113}</string>
                <key>textureRect</key>
                <string>{{125,0},{309,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,109}</string>
                <key>spriteSourceSize</key>
                <string>{486,109}</string>
                <key>textureRect</key>
                <string>{{434,0},{486,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ToggleBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{24,0},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WechatSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,60}</string>
                <key>spriteSourceSize</key>
                <string>{73,60}</string>
                <key>textureRect</key>
                <string>{{52,0},{73,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,113},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{1280,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a88d1a3b8f5dac837f2cf9158b1d19b:94b889b1c89d8475d983a1870a7cc737:e602202bcadb9fc25505c0a0c12df872$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
