<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CGFS_YingTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,923},{213,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,78}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>ChaGuan_BG_png9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,169},{138,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,132}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>ChaGuan_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,614},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>ChaGuan_Bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{285,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,92}}</string>
                <key>sourceSize</key>
                <string>{285,92}</string>
            </dict>
            <key>ChaGuan_DQshenqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,465},{188,50}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{188,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_DQshenqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,413},{188,50}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{188,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{706,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,67}}</string>
                <key>sourceSize</key>
                <string>{706,67}</string>
            </dict>
            <key>ChaGuan_DiJi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{234,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,60}}</string>
                <key>sourceSize</key>
                <string>{234,60}</string>
            </dict>
            <key>ChaGuan_Dla.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,618},{148,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,140}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>ChaGuan_FangHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,543},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FangHao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,515},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FangHao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,487},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FangHao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,459},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FangHao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,431},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FangHao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,403},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>ChaGuan_FenXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,710},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>ChaGuan_GBXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1128},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>ChaGuan_Guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1128},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>ChaGuan_JiaZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,356},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_JiaZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,299},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_JieSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,868},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>ChaGuan_KouL.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1087},{47,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>ChaGuan_MuBian.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,813},{184,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{184,96}</string>
            </dict>
            <key>ChaGuan_QingChu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,935},{226,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,75}}</string>
                <key>sourceSize</key>
                <string>{226,75}</string>
            </dict>
            <key>ChaGuan_QingChu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{226,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,75}}</string>
                <key>sourceSize</key>
                <string>{226,75}</string>
            </dict>
            <key>ChaGuan_Qingxuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,571},{124,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
            <key>ChaGuan_Qx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,242},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_Qx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,185},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_ShenQing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{250,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,55}}</string>
                <key>sourceSize</key>
                <string>{252,55}</string>
            </dict>
            <key>ChaGuan_ShenQing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{250,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,55}}</string>
                <key>sourceSize</key>
                <string>{252,55}</string>
            </dict>
            <key>ChaGuan_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{357,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,274}}</string>
                <key>sourceSize</key>
                <string>{357,274}</string>
            </dict>
            <key>ChaGuan_TianJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,517},{187,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,190}}</string>
                <key>sourceSize</key>
                <string>{187,190}</string>
            </dict>
            <key>ChaGuan_TouXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,516},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ChaGuan_TouXiangtouming.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>ChaGuan_Xom.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1125},{114,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,100}}</string>
                <key>sourceSize</key>
                <string>{114,100}</string>
            </dict>
            <key>ChaGuan_YiTongYi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,353},{138,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{138,48}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_YiTongYi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,303},{138,48}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,27},{138,48}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_ZhangDan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,128},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_ZhangDan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,71},{199,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,55}}</string>
                <key>sourceSize</key>
                <string>{199,55}</string>
            </dict>
            <key>ChaGuan_btnfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{220,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,84}}</string>
                <key>sourceSize</key>
                <string>{220,84}</string>
            </dict>
            <key>ChaGuan_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1076},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_dangqian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,963},{184,50}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{184,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_dangqian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,911},{184,50}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{184,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1061},{104,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,124}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>ChaGuan_fanghaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,760},{170,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,36}}</string>
                <key>sourceSize</key>
                <string>{170,36}</string>
            </dict>
            <key>ChaGuan_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,936},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ChaGuan_guide_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1187},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>ChaGuan_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1064},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1015},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_jujue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1012},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_jujue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1003},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_lishi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,761},{186,50}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{186,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_lishi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,709},{186,50}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{186,50}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,790},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>ChaGuan_qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,292},{287,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,288}}</string>
                <key>sourceSize</key>
                <string>{287,288}</string>
            </dict>
            <key>ChaGuan_qingtalikai.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,582},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>ChaGuan_qita.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,582},{243,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,339}}</string>
                <key>sourceSize</key>
                <string>{243,339}</string>
            </dict>
            <key>ChaGuan_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1003},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>ChaGuan_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1087},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ChaGuan_toast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1016},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1202},{32,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1016},{48,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,864},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,793},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,992},{50,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,722},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,923},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,651},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_toast_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,580},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>ChaGuan_tongyi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,859},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_tongyi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,798},{160,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,59}}</string>
                <key>sourceSize</key>
                <string>{160,59}</string>
            </dict>
            <key>ChaGuan_wode.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{287,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,288}}</string>
                <key>sourceSize</key>
                <string>{287,288}</string>
            </dict>
            <key>ChaGuan_xuanze01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{274,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,84}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_xuanze02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{274,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,84}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>ChaGuan_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,445},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>ChaGuan_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{497,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,96}}</string>
                <key>sourceSize</key>
                <string>{497,96}</string>
            </dict>
            <key>SF_color_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1050},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>SF_color_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1012},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>SF_color_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1202},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>SF_color_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1168},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>SF_color_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1164},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTea.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa1239ec3990de31f3ba82a7b85426a8:1/1$</string>
            <key>textureFileName</key>
            <string>GameTea.png</string>
        </dict>
    </dict>
</plist>
