<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,71}</string>
                <key>spriteSourceSize</key>
                <string>{253,71}</string>
                <key>textureRect</key>
                <string>{{491,164},{253,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,59}</string>
                <key>spriteSourceSize</key>
                <string>{201,59}</string>
                <key>textureRect</key>
                <string>{{332,36},{201,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,59}</string>
                <key>spriteSourceSize</key>
                <string>{201,59}</string>
                <key>textureRect</key>
                <string>{{131,36},{201,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,61}</string>
                <key>spriteSourceSize</key>
                <string>{174,61}</string>
                <key>textureRect</key>
                <string>{{708,36},{174,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,61}</string>
                <key>spriteSourceSize</key>
                <string>{175,61}</string>
                <key>textureRect</key>
                <string>{{533,36},{175,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,66}</string>
                <key>spriteSourceSize</key>
                <string>{221,66}</string>
                <key>textureRect</key>
                <string>{{0,97},{221,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,49}</string>
                <key>spriteSourceSize</key>
                <string>{104,49}</string>
                <key>textureRect</key>
                <string>{{27,36},{104,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{744,164},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_Handle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{0,36},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_Slider1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,33}</string>
                <key>spriteSourceSize</key>
                <string>{259,33}</string>
                <key>textureRect</key>
                <string>{{282,0},{259,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_Slider2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,33}</string>
                <key>spriteSourceSize</key>
                <string>{259,33}</string>
                <key>textureRect</key>
                <string>{{541,0},{259,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_SliderBk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,19}</string>
                <key>spriteSourceSize</key>
                <string>{244,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{244,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_SliderBk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,67}</string>
                <key>spriteSourceSize</key>
                <string>{720,67}</string>
                <key>textureRect</key>
                <string>{{221,97},{720,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting_SoundSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{244,0},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SplitTitleBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,77}</string>
                <key>spriteSourceSize</key>
                <string>{180,77}</string>
                <key>textureRect</key>
                <string>{{0,237},{180,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TitleBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,67}</string>
                <key>spriteSourceSize</key>
                <string>{491,67}</string>
                <key>textureRect</key>
                <string>{{0,164},{491,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbpbg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,305}</string>
                <key>spriteSourceSize</key>
                <string>{568,305}</string>
                <key>textureRect</key>
                <string>{{180,237},{568,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{800,0},{72,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{72,36}</string>
                <key>textureRect</key>
                <string>{{872,0},{72,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{944,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecb2d19ad971bac2beb109b51d434c0:1874c67d082c9a2efcbed0169ab02827:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
