<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_BtnBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,540}</string>
                <key>spriteSourceSize</key>
                <string>{123,540}</string>
                <key>textureRect</key>
                <string>{{803,146},{123,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{0,62},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{682,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_KuoZhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{806,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{62,62},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{744,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,136}</string>
                <key>spriteSourceSize</key>
                <string>{218,136}</string>
                <key>textureRect</key>
                <string>{{446,146},{218,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_TimerBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,52}</string>
                <key>spriteSourceSize</key>
                <string>{198,52}</string>
                <key>textureRect</key>
                <string>{{298,0},{198,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_TimerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,115}</string>
                <key>spriteSourceSize</key>
                <string>{68,115}</string>
                <key>textureRect</key>
                <string>{{378,146},{68,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_TimerRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,114}</string>
                <key>spriteSourceSize</key>
                <string>{67,114}</string>
                <key>textureRect</key>
                <string>{{311,146},{67,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_TimerUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,28}</string>
                <key>spriteSourceSize</key>
                <string>{174,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,64}</string>
                <key>spriteSourceSize</key>
                <string>{588,64}</string>
                <key>textureRect</key>
                <string>{{124,62},{588,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_infoBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{0,146},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gmae_Audio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{620,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bp@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{712,62},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bpdx-01@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{778,62},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bpp@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{33,49}</string>
                <key>textureRect</key>
                <string>{{232,0},{33,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxbt-2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{83,146},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxbt-3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{664,146},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxbt@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{197,146},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qt@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,49}</string>
                <key>spriteSourceSize</key>
                <string>{33,49}</string>
                <key>textureRect</key>
                <string>{{265,0},{33,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room-lt-no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{558,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>room-vo-no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{496,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tingSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{174,0},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tingSign2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{844,62},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{203,0},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{926,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a18714581e1cc3af2ba52a07894c5d4f:f2e7b305596630774669137132f7bf2a:865db70d33f6fd1c3bd18ff13c48b0ed$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
