<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,168},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gymj_game_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,98},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>gymj_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,347},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,58}}</string>
                <key>sourceSize</key>
                <string>{86,58}</string>
            </dict>
            <key>gymj_xsj_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,54},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>gymj_yx_sypadi.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,294},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>gymj_yx_xh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,524},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>gymj_yx_xh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,500},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>gymj_yx_xh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,476},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>gymj_yx_xhbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>gymj_zm_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,286},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,339},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,305},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,271},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_xz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,237},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_xz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,252},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_xz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,218},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_down_xz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,320},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>gymj_zm_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,580},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,516},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_xz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,478},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_xz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_xz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,462},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_left_xz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,360},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>gymj_zm_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,548},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,516},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,476},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,418},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_xz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,418},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_xz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,418},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_xz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,682},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_right_xz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,594},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>gymj_zm_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,405},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,373},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_xz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_xz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_xz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,386},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>gymj_zm_up_xz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,354},{158,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,30}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
            <key>hebmj_cp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,183},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>hebmj_yuyin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,612},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hebmj_yuyin_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,148},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>hebmj_yuyin_bg01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,664},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>hebmj_yuyin_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,202},{78,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,130}</string>
            </dict>
            <key>hebmj_yuyin_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,612},{40,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,126}}</string>
                <key>sourceSize</key>
                <string>{40,126}</string>
            </dict>
            <key>hebmj_yuyin_bg03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,407},{40,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,126}}</string>
                <key>sourceSize</key>
                <string>{40,126}</string>
            </dict>
            <key>hebmj_yuyin_bg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,218},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>hebmj_yx_tx_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,551},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>hebmj_zb_sx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,321},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>hebmj_zb_sx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,279},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>hebmj_zb_sx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,237},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>hebmj_zb_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,564},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>lpmj_yx_bppaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,473},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>lpmj_yx_dc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,168},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>lpmj_yx_dc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,548},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>lpmj_yx_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,532},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lpmj_yx_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,110},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>lpmj_yx_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,54},{298,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,42}}</string>
                <key>sourceSize</key>
                <string>{298,42}</string>
            </dict>
            <key>lpmj_yx_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{420,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,50}}</string>
                <key>sourceSize</key>
                <string>{420,50}</string>
            </dict>
            <key>lpmj_yx_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,259},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>lpmj_yx_tx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,231},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>lpmj_yx_tx_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,426},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,20}}</string>
                <key>sourceSize</key>
                <string>{74,20}</string>
            </dict>
            <key>lpmj_yx_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,390},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>lpmj_yx_txxx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,98},{268,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,118}}</string>
                <key>sourceSize</key>
                <string>{268,118}</string>
            </dict>
            <key>lpmj_yx_txxx_dw.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,168},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>lpmj_yx_txxx_hz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,472},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>lpmj_yx_txxx_hz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,400},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>lpmj_yx_txxx_hz_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,350},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>lpmj_yx_txxx_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,42},{2,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,158}}</string>
                <key>sourceSize</key>
                <string>{2,158}</string>
            </dict>
            <key>lpmj_yx_xzbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,42},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>lpmj_yx_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,452},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>lpmj_yx_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,448},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>lpmj_yx_zdhp.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,183},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>lpmj_yx_zdhp_gou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,626},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_ani_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,535},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>mj_lizhi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,400},{50,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,114}}</string>
                <key>sourceSize</key>
                <string>{50,114}</string>
            </dict>
            <key>mj_lizhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,328},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>mj_lizhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,478},{50,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,114}}</string>
                <key>sourceSize</key>
                <string>{50,114}</string>
            </dict>
            <key>mj_net_delay.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,420},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>mj_off_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,360},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>mj_select_chi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{241,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,165}}</string>
                <key>sourceSize</key>
                <string>{241,165}</string>
            </dict>
            <key>mj_select_chi_cancel_btn-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,284},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>mj_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,407},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_will_listen_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,179}}</string>
                <key>sourceSize</key>
                <string>{524,179}</string>
            </dict>
            <key>mj_will_listen_cardcount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,520},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>mj_wind_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,114},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>shmj_js_yz_freecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,437},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>whmj_txbq_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,334},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HebMJ_HomeView.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e80fff63b92770d5afd73ed56e28be$</string>
            <key>textureFileName</key>
            <string>HebMJ_HomeView.png</string>
        </dict>
    </dict>
</plist>
