<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{416,0},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_43@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{258,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_44@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{430,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_chun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{602,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{516,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_ju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{344,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{172,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{860,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{86,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{0,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_hua_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{774,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_left_angang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{284,0},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_left_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,72}</string>
                <key>spriteSourceSize</key>
                <string>{40,72}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_left_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{350,0},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_left_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{494,0},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_my_angang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,116}</string>
                <key>textureRect</key>
                <string>{{792,400},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_my_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{90,130}</string>
                <key>textureRect</key>
                <string>{{602,400},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_my_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,116}</string>
                <key>spriteSourceSize</key>
                <string>{100,116}</string>
                <key>textureRect</key>
                <string>{{692,400},{100,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_my_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,80}</string>
                <key>spriteSourceSize</key>
                <string>{62,80}</string>
                <key>textureRect</key>
                <string>{{222,0},{62,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_up_angang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{80,0},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_up_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_up_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{126,0},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj_up_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{172,0},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{430,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{258,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{172,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{860,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{344,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{688,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{774,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{86,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiaozi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{516,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{688,300},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{172,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{750,0},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{664,0},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{578,0},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{86,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{258,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{344,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongzi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{172,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{836,0},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{602,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{430,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{344,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{602,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{430,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{516,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanzi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{258,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{86,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{516,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{688,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{0,200},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{774,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{860,100},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zipai_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{0,400},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_card.png</string>
            <key>size</key>
            <string>{946,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e935cfb6b84befe3a6719b9e603c52d7:547472e23aa320be3eda9cddaff40980:4c5e8f350a052cd788564a4ab2678555$</string>
            <key>textureFileName</key>
            <string>game_card.png</string>
        </dict>
    </dict>
</plist>
